@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* then your layers / @apply stuff */
@layer base {
  body {
    @apply bg-white text-slate-900;
  }
}


:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

a {
  @apply underline-offset-4;
}
